*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("images/Lantern rite.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: calc();
    padding: 0%;
    margin: 0;
    height: 100vh;
}
.lantern img{
    width: 35px;
    animation: lantern 12s linear infinite;
}
.lantern{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes lantern{
    0%{
        bottom: -10%;
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-100vh);
        opacity: 0;
    }
}
.lantern img:nth-child(1){
    animation-delay: 13s;
}
.lantern img:nth-child(2){
    animation-delay: 3s;
}
.lantern img:nth-child(3){
    animation-delay: 11s;
}
.lantern img:nth-child(4){
    animation-delay: 7s;
}
.lantern img:nth-child(5){
    animation-delay: 9s;
}
.lantern img:nth-child(6){
    animation-delay: 18s;
}
.lantern img:nth-child(7){
    animation-delay: 15s;
}
.lantern img:nth-child(8){
    animation-delay: 4s;
}
.lantern img:nth-child(9){
    animation-delay: 6s;
}
.lantern img:nth-child(10){
    animation-delay: 12s;
}
.lantern img:nth-child(11){
    animation-delay: 1s;
}
.vision{
    cursor: pointer;
    padding: 0.25em 1em;
}
.dxd img{
    width: 300px;
}
.hob img{
    width: 300px;
}
.sing img{
    width: 300px;
}
.fave img{
    width: 300px;
}
.games img{
    width: 300px;
}
.anim img{
    width: 300px;
}
.man img{
    width: 300px;
}
.cyber img{
    width: 500px;
}
.lament img{
    width: 500px;
}
.moon img{
    width: 500px;
}